<!-- 4. Output the animalType string, pet boolean, and fierceness number to the page -->
<p>A {{animalType}} is a {{#if pet}}goodboye{{else}}dangerousboye{{/if}} and is {{fierceness}} fierce... whatever that
    means...</p>