.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.text {
    &-bold {
        font-weight: bold;
    }

    &-lg {
        font-size: 24px;
    }
}

.spacing-lg {
    line-height: 50px;
}
